body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chakra-divider {
  opacity: 1 !important;
}

.vertical-timeline {
  margin: 0 !important;
  height: 110%;
  padding-top: 5px !important;
}

.vertical-timeline::before {
  top: 110px !important;
  width: 8px !important;
  left: 16px !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element-content p {
  font-size: unset;
}